@model Seatly1.Models.NotificationRecord

@{
    ViewData["Title"] = "Create";
}
<style>
    textarea {
        width: 300px; /* 設置寬度 */
        height: 150px; /* 設置高度 */
        resize: none; /* 禁用調整大小功能 */
    }
</style>

<h1>活動表單</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="fform" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="OrganizerId" class="control-label"></label>
                <input asp-for="OrganizerId" class="form-control" />
                <span asp-validation-for="OrganizerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ActivityPhoto" class="control-label"></label>
                <partial name="_ShowActivityPhoto" />
                <input type="file" id="ActivityPhoto" name="ActivityPhoto" class="form-control" accept="image/*" style="margin:7px;" />
            </div>

            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ActivityName" class="control-label"></label>
                <input asp-for="ActivityName" class="form-control" />
                <span asp-validation-for="ActivityName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DescriptionN" class="control-label"></label>
                <textarea asp-for="DescriptionN" class="form-control"></textarea>
                <span asp-validation-for="DescriptionN" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsRecurring" class="control-label"></label>
                <input asp-for="IsRecurring" class="form-control" />
                <span asp-validation-for="IsRecurring" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RecurringTime" class="control-label"></label>
                <input asp-for="RecurringTime" class="form-control" />
                <span asp-validation-for="RecurringTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ActivityMethod" class="control-label"></label>
                <select asp-for="ActivityMethod" class="form-control">
                    <option value="公告">公告</option>
                    <option value="排隊">排隊</option>
                    <option value="抽籤">抽籤</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="IsActivity" class="control-label"></label>
                <input asp-for="IsActivity" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="LocationDescription" class="control-label"></label>
                <input asp-for="LocationDescription" class="form-control" />
                <span asp-validation-for="LocationDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HashTag4" class="control-label"></label>
                <input asp-for="HashTag4" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="HashTag5" class="control-label"></label>
                <input asp-for="HashTag5" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="HashTag1" class="control-label"></label>
                <input asp-for="HashTag1" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="HashTag2" class="control-label"></label>
                <input asp-for="HashTag2" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="HashTag3" class="control-label"></label>
                <input asp-for="HashTag3" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="HashTag4" class="control-label"></label>
                <input asp-for="HashTag4" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="HashTag5" class="control-label"></label>
                <input asp-for="HashTag5" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="createButton" />
            </div>
        </form>
    </div>
</div>

<script src="https://unpkg.com/vue@3.4.26/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>



<script>
    function previewImage(inputFile, img) {
        if (inputFile.files && inputFile.files[0]) {
            var file = inputFile.files[0];
            var allowType = "image.*";
            if (file.type.match(allowType)) {
                //預覽
                var reader = new FileReader();
                reader.onload = function (e) {
                    img.attr("src", e.target.result);
                    img.attr("title", inputFile.files[0].name);
                };

                reader.readAsDataURL(inputFile.files[0]);
                $(".btn").prop("disabled", false);

            }

            else {
                alert("不支援檔案類型");
                $(".btn").prop("disabled", true);
            }
        }
    }

        $("#ActivityPhoto").change(function () {
            previewImage(this, $("#ActivityPhoto").prev());
        });

        $("#createButton").click(function (e) {
            e.preventDefault(); // 防止表單的默認提交行為
            // var formData = $("form").serialize();
        var formData = new FormData($("#fform")[0]);
            // 發送 AJAX 請求
            $.ajax({
                type: "POST",
                url: `/NotificationRecord/Create`, // 如果路徑正確，則可以直接指定URL
                data: formData, // 將序列化後的表單數據發送到服務器
                contentType: false, // 不設置 contentType，讓 jQuery 自動設置為 multipart/form-data
                processData: false, // 不處理數據，讓 jQuery 不將數據轉為字串
                success: function (data) {
                    $("#adminBody").html(data);
                },
                error: function (xhr, status, error) {
                    // 請求失敗時的處理
                    console.error(xhr.responseText);
                }
            });
        });








    </script>

