@model Seatly1.Models.NotificationRecord

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NotificationRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActivityId" />
            <div class="form-group">
                <label asp-for="OrganizerId" class="control-label"></label>
                <input asp-for="OrganizerId" class="form-control" />
                <span asp-validation-for="OrganizerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityPhoto" class="control-label"></label>
                <partial name="_ShowActivityPhoto" />
                <input type="file" asp-for="ActivityPhoto" class="form-control" accept="image/*"/>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityName" class="control-label"></label>
                <input asp-for="ActivityName" class="form-control" />
                <span asp-validation-for="ActivityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsRecurring" class="control-label"></label>
                <input asp-for="IsRecurring" class="form-control" />
                <span asp-validation-for="IsRecurring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecurringTime" class="control-label"></label>
                <input asp-for="RecurringTime" class="form-control" />
                <span asp-validation-for="RecurringTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function previewImage(inputFile, img) {
            if (inputFile.files && inputFile.files[0]) {
                var file = inputFile.files[0];
                var allowType = "image.*";
                if (file.type.match(allowType)) {
                    //預覽
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        img.attr("src", e.target.result);
                        img.attr("title", inputFile.files[0].name);
                    };

                    reader.readAsDataURL(inputFile.files[0]);
                    $(".btn").prop("disabled", false);

                }

                else {
                    alert("不支援檔案類型");
                    $(".btn").prop("disabled", true);
                }
            }
        }

        $("#ActivityPhoto").change(function () {
            previewImage(this, $("#ActivityPhoto").prev());
        });

    </script>

}

