<!--UserView-->
<!--
    檢視活動
    加入活動
-->
<style>
    .B {
        width: 80%;
        margin: 0 auto;
        background-color: #ffffff;
        border: 2px solid #ffffff; /* 設定框線，寬度為2px，顏色為黑色 */
        border-radius: 0 0 10px 10px; /* 僅下半部有圓角 */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 設定四周陰影效果 */
    }
</style>

<div>
    <div class="container" id="app">
        <div class="B">
            <div style="background-color: #FF2E3C; text-align: center;color:#ffffff;">
                <p>活動資訊</p>
            </div>
            <img v-if="ActivityPhotoSrc" :src="ActivityPhotoSrc" alt="Activity Photo" />
            <div class="m-3"></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3.4.26/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>

    <script>
        const vuebase = "https://localhost:7271";


        const vueApp = {
            data() {
                return {
                    Activity: null,
                    ActivityPhotoSrc: null,
                };
            },
            methods: {
                list: function () {
                    let _this = this;
                    const Aid = sessionStorage.getItem("ActID");
                    alert(Aid);
                    if (Aid) {
                        axios.get(`${vuebase}/NotificationRecord/UserList?id=${Aid}`)
                            .then(res => {
                                _this.Activity = res.data;

                                 // 使用轉換函數
                                _this.ActivityPhotoSrc = `data:image/jpeg;base64,${_this.Activity.activityPhoto}`;
                                
                            })
                            .catch(err => {
                                console.error('Error fetching activity data:', err);
                                alert('Error fetching activity data');
                            });
                    } else {
                        alert('ActID not found in sessionStorage');
                    }
                }
            },
            mounted: function () {
                this.list();
            }
        };

        Vue.createApp(vueApp).mount("#app");
    </script>
}
