
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .B {
            width: 1080px;
            margin: 0 auto;
            background-color: #ffffff;
            border: 2px solid #ffffff; /* 設定框線，寬度為2px，顏色為黑色 */
            border-radius: 0 0 10px 10px; /* 僅下半部有圓角 */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 設定四周陰影效果 */
            text-align: center;
        }

        .coverPhoto{
            width: 1080px;
            height:540px;
        }

        p{
            margin:0
        }

    </style>
</head>
<body>
    <div class="container" id="app">
        <div class="B">
            <img :src="photo" alt="封面照片" class="coverPhoto" v-if="photo" />
            <img src="@Url.Content("~/images/NoImage.jpg")" title="NoImage" class="coverPhoto" v-else />
            <div class="" style="padding:3%;">
                
                <p>簽到狀態 : </p>                    
                <p style="font-size:30px" :class="{'text-secondary': checked, 'text-danger': !checked}">{{checked ? '已簽到' : '未簽到' }}</p>

                <hr />
                <p>排隊號碼 : {{waitingNumber}}</p>
                <p>活動驗證碼 : {{Barcode}}</p>
                <button class="btn btn-primary btn-sm" style="margin" @@click="QR">生成QRcode</button>

                <hr />
                <p> 活動名稱 :{{activityName}}</p>
                <p class="justify-text" style="color:#999999">{{activityId}}</p>
                <p>活動開始時間 : {{startTime}}</p>
                <p>活動結束時間 : {{endTime}}</p>

                
            </div>
        </div>
    </div>




    <script src="https://unpkg.com/vue@3.4.26/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script>
        //基本路徑
        const vuebase = "https://localhost:7271";

        const vueApp = {
            //這邊放資料
            data() {
                return {
                    activityId: null,
                    userName: "",
                    waitingNumber: null,
                    checked: false,
                    activityName: "",
                    photo: "",
                    startTime: "",
                    endTime: "",
                    Barcode:"",
                }
            },
            methods: {
                fetchlist: function () {
                    const Aid = sessionStorage.getItem("ActID");
                    let _this = this;
                    axios.get(`${vuebase}/Confirm/BookOKList?id=${Aid}`)
                        .then(res => {
                            let data = res.data;
                            console.log(data)

                            // 分別將資料字段存放到不同的變數中
                            _this.activityId = data.activityId;
                            _this.userName = data.userName;
                            _this.waitingNumber = data.waitingNumber;
                            _this.checked = data.checked;
                            _this.activityName = data.activityName;
                            //處裡圖片
                            // 轉換資料成圖片
                            _this.photo = `data:image/jpeg;base64,${data.activityPhoto}`;

                            _this.startTime = moment(data.startTime).format('YYYY-MM-DD HH:mm');
                            _this.endTime = moment(data.endTime).format('YYYY-MM-DD HH:mm');
                            _this.Barcode = data.activityBarcode;

                            console.log("Activity ID:", _this.activityId);
                            console.log("Activity Name:", _this.activityName);
                        })
                        .catch(err => {
                            alert(err);
                        });
                },
                QR:function(){
                    alert("QR")

                    
                },
            },
            mounted: function () {
                this.fetchlist();
            }
        };

        Vue.createApp(vueApp).mount("#app");
    </script>
</body>

