@page
@model Seatly1.Areas.Identity.Pages.Account.Manage.FriendsModel
@{
    ViewData["Title"] = "好友清單";
    ViewData["ActivePage"] = ManageNavPages.Friends;
}

<h3>@ViewData["Title"]</h3>
<!-- 在这里添加显示好友列表的 HTML 结构 -->
