@page
@model SetPasswordModel
@{
    ViewData["Title"] = "設定密碼";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>設定您的密碼</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    您沒有本站使用者名稱/密碼。新增本站帳戶，以便您無需外部登入即可登入。
</p>
<div class="row">
    <div class="col-md-6">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="新密碼"/>
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="確認密碼"/>
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">設定密碼</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
