@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>活動方註冊</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">

    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="assets/css/theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/custom.css">

</head>

<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->


    <main class="main" id="top">
        <!--導覽列開始-->
        <navbar></navbar>
        <!--導覽列結束-->
        <!--註冊頁開始-->
        <section class="py-8 overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-start text-md-center mb-3">活動方註冊</h1>
                    </div>
                    <!-- col-8 start -->
                    <div class="col-12 col-md-8 offset-md-2">
                        <!-- 表單 start -->
                        <form id="registerForm" class="needs-validation" novalidate>
                            <!-- .row>(.col-12.col-md-3 mb-3+.col-12.col-md-9 mb-3)*10 -->
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    <label for="loginaccount" class="form-label">活動方帳號</label>
                                </div>
                                <div class="col-12 col-md-9 mb-3">
                                    <!-- input.form-control[type="text"] -->
                                    <input type="text" id="account" name="account" class="form-control" placeholder="請輸入活動方帳號"
                                           required>
                                    <div class="invalid-feedback">
                                        此為必填項目。
                                    </div>
                                </div>

                                <div class="col-12 col-md-3">
                                    <label for="name" class="form-label">活動方名稱</label>
                                </div>
                                <div class="col-12 col-md-9 mb-3">
                                    <!-- input.form-control[type="text"] -->
                                    <input type="text" id="name" name="name" class="form-control" placeholder="請輸入活動方名稱"
                                           required>
                                    <div class="invalid-feedback">
                                        此為必填項目。
                                    </div>
                                </div>

                                <div class="col-12 col-md-3">
                                    <label for="category" class="form-label">活動方分類</label>
                                </div>
                                <div class="col-12 col-md-9 mb-3">
                                    <input type="text" id="category" name="category" class="form-control" placeholder="請輸入活動方分類"
                                           required>
                                    <div class="invalid-feedback">
                                        此為必填項目。
                                    </div>
                                </div>

                                <div class="col-12 col-md-3">
                                    <label for="menu" class="form-label">菜單</label>
                                </div>
                                <div class="col-12 col-md-9 mb-3">
                                    <input type="text" id="menu" name="menu" class="form-control" placeholder="請輸入菜單" required>
                                    <div class="invalid-feedback">

                                    </div>
                                </div>

                                <div class="col-12 col-md-3">
                                    <label for="address" class="form-label">地址</label>
                                </div>
                                <div class="col-12 col-md-9 mb-3">
                                    <input type="text" id="address" name="地址" class="form-control" placeholder="請輸入地址">
                                </div>
 
                                <div class="col-12 col-md-3">
                                    <label for="final-enter" class="form-label">活動網址</label>
                                </div>
                                <div class="col-12 col-md-9 mb-3">
                                    <input type="text" id="URL" name="URL" class="form-control" placeholder="請輸入活動網址" required>
                                    <div class="invalid-feedback">
                                        此為必填項目。
                                    </div>
                                </div>

                                <div class="col-12 col-md-3">
                                    <label for="hashtag" class="form-label">hashtag</label>
                                </div>
                                <div class="col-12 col-md-9 mb-3">
                                    <input type="text" id="hashtag" name="hashtag" class="form-control" placeholder="請輸入hashtag" required>
                                    <div class="invalid-feedback">
                                        此為必填項目。
                                    </div>
                                </div>

                                <div class="col-12 col-md-3">
                                    <label for="email" class="form-label">Email</label>
                                </div>
                                <div class="col-12 col-md-9 mb-3">
                                    <input type="email" id="email" name="email" class="form-control" placeholder="name@example.com" required>
                                    <div class="invalid-feedback">
                                        此為必填項目。
                                    </div>
                                </div>

                                <div class="col-12 col-md-3">
                                    <label for="phone" class="form-label">連絡電話</label>
                                </div>
                                <div class="col-12 col-md-9 mb-3">
                                    <input type="text" id="phone" name="phone" class="form-control" placeholder="請輸入連絡電話" required>
                                    <div class="invalid-feedback">
                                        此為必填項目。
                                    </div>
                                </div>

                                <div class="col-12 col-md-3">
                                    <label for="password1" class="form-label">密碼</label>
                                </div>
                                <div class="col-12 col-md-9 mb-3">
                                    <input type="password" id="password1" name="password1" class="form-control"
                                           placeholder="請輸入密碼" required>
                                    <div id="invalid_password1" class="invalid-feedback">
                                    </div>
                                </div>

                                <div class="col-12 col-md-3">
                                    <label for="password2" class="form-label">確認密碼</label>
                                </div>
                                <div class="col-12 col-md-9 mb-3">
                                    <input type="password" id="password2" name="password2" class="form-control"
                                           placeholder="請再次輸入密碼" required>
                                    <div id="invalid_password2" class="invalid-feedback">
                                    </div>
                                </div>

 @*                                <div class="col-12 col-md-3">
                                    <label for="photo" class="form-label">上傳活動方照片</label>
                                </div>
                                <div class="col-12 col-md-9 mb-3">
                                    <input type="file" id="photo" name="photo" class="form-control" aria-label="file example"
                                           placeholder="請上傳活動方照片" required>
                                    <div class="invalid-feedback">
                                        沒有選擇檔案。
                                    </div>
                                    <div id="status" class="valid-feedback">
                                </div>
                                </div> *@
                            </div>

                            <div id="submit" class="col-md-12 col-sm-4 mb-3 d-flex flex-row-reverse bd-highlight">
                                <button id="submit" type="submit" class="btn btn-primary">送出表單</button>
                            </div>
                        </form>
                        <!--上傳活動方照片-->
                        <h2>上傳活動方照片</h2>
                        <input type="file" id="imageInput">
                        <button id="uploadButton">Upload</button>
                        <div id="status"></div>
                    </div>
                </div>
                <!-- 表單 end -->
            </div>
            <!-- col-8 end -->
        </section>
        <!--註冊頁結束->

        <!--頁尾開始-->
        <footer></footer>
        <!--頁尾結束-->

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!--加入jquery-->
@*     <script src="vendors/@popperjs/popper.min.js"></script> *@
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="vendors/fontawesome/all.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="../src/js/main.js"></script> <!--自定義的js-->

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&amp;display=swap"
          rel="stylesheet">
</body>

</html>