@section Styles
{
    <style>

    </style>
}

<div class="col-12 col-md-2 m-5">
    <h2 class="text-gradient mb-4">點數交易紀錄</h2>
    <ul class="list-group">
        <li class="list-group-item text-gradient">
            <a class="dropdown-item text-gradient" asp-area="" asp-controller="Home" asp-action="PointsShop">點數商城</a>
        </li>
        <li class="list-group-item text-gradient">
            <a class="dropdown-item text-gradient" asp-area="" asp-controller="Home" asp-action="Coupon">持有優惠券</a>
        </li>
        <li class="list-group-item text-gradient">
            <a class="dropdown-item text-gradient" asp-area="" asp-controller="Home" asp-action="PointsHistory">點數交易紀錄</a>
        </li>
    </ul>
</div>

@section Scripts
{
    <script>

    </script>
}