body {
    background-image: url('../images/paper.jpg');
    background-repeat: repeat;
}

#logo {
    animation-iteration-count: infinite;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
    /*animation-direction:alternate-reverse;*/
}

#gameLogo {
    animation-iteration-count: 1;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    /*animation-name:gameLogoShow1;*/
    /*animation-direction:alternate-reverse;*/
}

@keyframes logoSpin {
    0% {
        transform:rotate3d(1,1,1,0deg);
    }

    100% {
        transform: rotate3d(1,1,1,360deg);
    }
}

@keyframes gameLogoShow1 {
    0% {
        transform: rotate(-45deg);
        top:0;
        left:0;
        z-index:1;
    }
    6% {
        transform: rotate(-45deg);
        top: -20px;
        left: -20px;
        z-index: 1;
    }
    13% {
        transform: rotate(-45deg);
        top: -15px;
        left: -15px;
        z-index: 1;
    }
    25% {
        transform: rotate(-45deg);
        top: -20px;
        left: -20px;
        z-index: 1;
    }
    50% {
        transform: rotate(-765deg);
        top: -20px;
        left: -20px;
        z-index: 1;
    }
    75% {
        transform: rotate(-45deg);
        top: -20px;
        left: -20px;
        z-index: 1;
    }
    87% {
        transform: rotate(-45deg);
        top: -15px;
        left: -15px;
        z-index: 1;
    }
    94% {
        transform: rotate(-45deg);
        top: -20px;
        left: -20px;
        z-index: 1;
    }
    100% {
        transform: rotate(-45deg);
        top: 0;
        left: 0;
        z-index: 1;
    }
}

@keyframes gameLogoShow2 {
    0% {
        transform: rotate(45deg);
        top: 0;
        right: 0;
        z-index: 1;
    }

    6% {
        transform: rotate(45deg);
        top: -20px;
        right: -20px;
        z-index: 1;
    }

    13% {
        transform: rotate(45deg);
        top: -15px;
        right: -15px;
        z-index: 1;
    }

    25% {
        transform: rotate(45deg);
        top: -20px;
        right: -20px;
        z-index: 1;
    }

    50% {
        transform: rotate(765deg);
        top: -20px;
        right: -20px;
        z-index: 1;
    }

    75% {
        transform: rotate(45deg);
        top: -20px;
        right: -20px;
        z-index: 1;
    }

    87% {
        transform: rotate(45deg);
        top: -15px;
        right: -15px;
        z-index: 1;
    }

    94% {
        transform: rotate(45deg);
        top: -20px;
        right: -20px;
        z-index: 1;
    }

    100% {
        transform: rotate(45deg);
        top: 0;
        right: 0;
        z-index: 1;
    }
}

@keyframes gameLogoShow3 {
    0% {
        transform: rotate(135deg);
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    6% {
        transform: rotate(135deg);
        bottom: -20px;
        right: -20px;
        z-index: 1;
    }

    13% {
        transform: rotate(135deg);
        bottom: -15px;
        right: -15px;
        z-index: 1;
    }

    25% {
        transform: rotate(135deg);
        bottom: -20px;
        right: -20px;
        z-index: 1;
    }

    50% {
        transform: rotate(855deg);
        bottom: -20px;
        right: -20px;
        z-index: 1;
    }

    75% {
        transform: rotate(135deg);
        bottom: -20px;
        right: -20px;
        z-index: 1;
    }

    87% {
        transform: rotate(135deg);
        bottom: -15px;
        right: -15px;
        z-index: 1;
    }

    94% {
        transform: rotate(135deg);
        bottom: -20px;
        right: -20px;
        z-index: 1;
    }

    100% {
        transform: rotate(135deg);
        bottom: 0;
        right: 0;
        z-index: 1;
    }
}

@keyframes gameLogoShow4 {
    0% {
        transform: rotate(-135deg);
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    6% {
        transform: rotate(-135deg);
        bottom: -20px;
        left: -20px;
        z-index: 1;
    }

    13% {
        transform: rotate(-135deg);
        bottom: -15px;
        left: -15px;
        z-index: 1;
    }

    25% {
        transform: rotate(-135deg);
        bottom: -20px;
        left: -20px;
        z-index: 1;
    }

    50% {
        transform: rotate(-855deg);
        bottom: -20px;
        left: -20px;
        z-index: 1;
    }

    75% {
        transform: rotate(-135deg);
        bottom: -20px;
        left: -20px;
        z-index: 1;
    }

    87% {
        transform: rotate(-135deg);
        bottom: -15px;
        left: -15px;
        z-index: 1;
    }

    94% {
        transform: rotate(-135deg);
        bottom: -20px;
        left: -20px;
        z-index: 1;
    }

    100% {
        transform: rotate(-135deg);
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}