@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>修改活動</title>
</head>

<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <section class="py-8 overflow-hidden">
            <div id="app">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="text-start text-md-center mb-3">修改活動</h1>
                        </div>
                        <!-- col-8 start -->
                        <div class="col-12 col-md-8 offset-md-2">
                            <!-- 表單 start -->
                            <form v-on:submit.prevent="submitForm" id="modifyOrganizerForm" class="needs-validation" novalidate>
                                <!-- .row>(.col-12.col-md-3 mb-3+.col-12.col-md-9 mb-3)*10 -->
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <label for="StartTime" class="form-label">活動開始時間</label>
                                    </div>
                                    <div class="col-12 col-md-9 mb-3">
                                        <!-- input.form-control[type="text"] -->
                                        <input type="datetime-local" v-model="StartTime" id="StartTime" class="form-control" placeholder="請輸入活動開始時間"
                                               required>
                                        <div class="invalid-feedback">
                                            此為必填欄位
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <label for="EndTime" class="form-label">活動結束時間</label>
                                    </div>
                                    <div class="col-12 col-md-9 mb-3">
                                        <input type="datetime-local" v-model="EndTime" id="EndTime" class="form-control" placeholder="請輸入活動結束時間"
                                               required>
                                        <div class="invalid-feedback">
                                            此為必填欄位
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <label for="ActivityMethod" class="form-label">活動方法</label>
                                    </div>
                                    <div class="col-12 col-md-9 mb-3">
                                        <select v-model="ActivityMethod" class="form-select" id="ActivityMethod" required>
                                            <option>公告</option>
                                            <option>排隊</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            此為必填欄位
                                        </div>
                                    </div>

                                    <!-- 活動方法為公告時，活動人數上限、活動名稱欄位為唯讀-->
                                    <div class="col-12 col-md-3">
                                        <label for="Capacity" class="form-label">活動人數上限</label>
                                    </div>
                                    <div class="col-12 col-md-9 mb-3">
                                        <input v-if="ActivityMethod=='公告'" type="number" v-model="Capacity" id="Capacity" class="form-control" placeholder="人數上限為唯讀" disabled>
                                        <input v-else type="number" v-model="Capacity" id="Capacity" class="form-control" placeholder="請輸入人數" required>
                                        <div class="invalid-feedback">
                                            此為必填欄位
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <label for="ActivityName" class="form-label">活動名稱</label>
                                    </div>
                                    <div class="col-12 col-md-9 mb-3">
                                        <input v-if="ActivityMethod=='公告'" type="text" v-model="ActivityName" id="ActivityName" class="form-control" placeholder="活動名稱為唯讀" disabled>
                                        <input v-else type="text" v-model="ActivityName" id="ActivityName" class="form-control" placeholder="請輸入活動名稱" required>
                                        <div class="invalid-feedback">
                                            此為必填欄位
                                        </div>
                                    </div>
                                    <!-- 活動方法為公告時，活動人數上限、活動名稱欄位為唯讀-->

                                    <div class="col-12 col-md-3">
                                        <label for="hashtag1" class="form-label">HashTag1</label>
                                    </div>
                                    <div class="col-12 col-md-9 mb-3">
                                        <select v-model="hashtag1" class="form-select" id="hashtag1">
                                            <option></option>
                                            <option>藝文</option>
                                            <option>親子</option>
                                            <option>美食</option>
                                            <option>戶外體驗</option>
                                            <option>健康</option>
                                            <option>運動</option>
                                            <option>寵物</option>
                                            <option>動漫</option>
                                            <option>遊戲</option>
                                            <option>公益</option>
                                            <option>其他生活娛樂</option>
                                            <option>美術</option>
                                            <option>音樂</option>
                                            <option>設計</option>
                                            <option>商業</option>
                                            <option>科技</option>
                                            <option>語言</option>
                                            <option>投資</option>
                                            <option>時尚</option>
                                            <option>手作</option>
                                            <option>料理</option>
                                            <option>攝影</option>
                                            <option>其他學習成長</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            此為必填欄位
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <label for="hashtag2" class="form-label">HashTag2</label>
                                    </div>
                                    <div class="col-12 col-md-9 mb-3">
                                        <select v-model="hashtag2" class="form-select" id="hashtag2">
                                            <option></option>
                                            <option>藝文</option>
                                            <option>親子</option>
                                            <option>美食</option>
                                            <option>戶外體驗</option>
                                            <option>健康</option>
                                            <option>運動</option>
                                            <option>寵物</option>
                                            <option>動漫</option>
                                            <option>遊戲</option>
                                            <option>公益</option>
                                            <option>其他生活娛樂</option>
                                            <option>美術</option>
                                            <option>音樂</option>
                                            <option>設計</option>
                                            <option>商業</option>
                                            <option>科技</option>
                                            <option>語言</option>
                                            <option>投資</option>
                                            <option>時尚</option>
                                            <option>手作</option>
                                            <option>料理</option>
                                            <option>攝影</option>
                                            <option>其他學習成長</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            此為必填欄位
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <label for="hashtag3" class="form-label">HashTag3</label>
                                    </div>
                                    <div class="col-12 col-md-9 mb-3">
                                        <select v-model="hashtag3" class="form-select" id="hashtag3">
                                            <option></option>
                                            <option>藝文</option>
                                            <option>親子</option>
                                            <option>美食</option>
                                            <option>戶外體驗</option>
                                            <option>健康</option>
                                            <option>運動</option>
                                            <option>寵物</option>
                                            <option>動漫</option>
                                            <option>遊戲</option>
                                            <option>公益</option>
                                            <option>其他生活娛樂</option>
                                            <option>美術</option>
                                            <option>音樂</option>
                                            <option>設計</option>
                                            <option>商業</option>
                                            <option>科技</option>
                                            <option>語言</option>
                                            <option>投資</option>
                                            <option>時尚</option>
                                            <option>手作</option>
                                            <option>料理</option>
                                            <option>攝影</option>
                                            <option>其他學習成長</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            此為必填欄位
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <label for="hashtag4" class="form-label">HashTag4</label>
                                    </div>
                                    <div class="col-12 col-md-9 mb-3">
                                        <select v-model="hashtag4" class="form-select" id="hashtag4">
                                            <option></option>
                                            <option>藝文</option>
                                            <option>親子</option>
                                            <option>美食</option>
                                            <option>戶外體驗</option>
                                            <option>健康</option>
                                            <option>運動</option>
                                            <option>寵物</option>
                                            <option>動漫</option>
                                            <option>遊戲</option>
                                            <option>公益</option>
                                            <option>其他生活娛樂</option>
                                            <option>美術</option>
                                            <option>音樂</option>
                                            <option>設計</option>
                                            <option>商業</option>
                                            <option>科技</option>
                                            <option>語言</option>
                                            <option>投資</option>
                                            <option>時尚</option>
                                            <option>手作</option>
                                            <option>料理</option>
                                            <option>攝影</option>
                                            <option>其他學習成長</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            此為必填欄位
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-9 mb-3">
                                        <select v-model="hashtag5" class="form-select" id="hashtag5">
                                            <option></option>
                                            <option>藝文</option>
                                            <option>親子</option>
                                            <option>美食</option>
                                            <option>戶外體驗</option>
                                            <option>健康</option>
                                            <option>運動</option>
                                            <option>寵物</option>
                                            <option>動漫</option>
                                            <option>遊戲</option>
                                            <option>公益</option>
                                            <option>其他生活娛樂</option>
                                            <option>美術</option>
                                            <option>音樂</option>
                                            <option>設計</option>
                                            <option>商業</option>
                                            <option>科技</option>
                                            <option>語言</option>
                                            <option>投資</option>
                                            <option>時尚</option>
                                            <option>手作</option>
                                            <option>料理</option>
                                            <option>攝影</option>
                                            <option>其他學習成長</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            此為必填欄位
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <label for="location" class="form-label">縣市</label>
                                    </div>
                                    <div class="col-12 col-md-9 mb-3">
                                        <select v-model="location" class="form-select" id="location" required>
                                            <!--因為是測試用，放4個縣市就好-->
                                            <option>台北</option>
                                            <option>台中</option>
                                            <option>台南</option>
                                            <option>高雄</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            此為必填欄位
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <label for="LocationDescrption" class="form-label">地址</label>
                                    </div>
                                    <div class="col-12 col-md-9 mb-3">
                                        <input type="text" v-model="LocationDescrption" id="LocationDescrption" class="form-control" placeholder="請輸入地址" required>
                                        <div class="invalid-feedback">
                                            此為必填欄位
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <label for="photo" class="form-label">新增封面照片</label>
                                    </div>
                                    <div class="col-12 col-md-9 mb-3">
                                        @* 顯示圖片預覽 *@
                                        <img style="width:320px;height:240px" id="preview" :src="ActivityPhoto" class="img-fluid mb-3">
                                        <input type="file" ref="files" id="imageInput" class="form-control" aria-label="file example"
                                               placeholder="請上傳活動方照片">
                                        <div class="invalid-feedback">
                                            請選擇要上傳的圖片
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex flex-column flex-md-row bd-highlight mb-3 justify-content-md-start justify-content-sm-end">
                                    <div class="p-2 bd-highlight sm-w-100 ml-auto">
                                        <button id="submit" type="submit" class="btn btn-primary" formnovalidate>下一頁</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <!-- 表單 end -->
                </div>
            </div>
            <!-- col-8 end -->
        </section>

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    @section Scripts {
        <script src="https://unpkg.com/vue@3.4.26/dist/vue.global.js"></script>
        <script src="https://unpkg.com/axios@1.6.8/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/js/ActivityEdit.js"></script>
    }
</body>

</html>