@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>活動方主頁</title>
</head>

<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <!--活動方主頁開始-->
        <section class="py-8 overflow-hidden">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-start text-center mb-3">活動方主頁</h1>
                    </div>
                    <!-- col-8 start -->
                    <div class="d-grid gap-2 col-md-4 col-sm-8 mx-auto">
                        <button id="o-info" type="button" class="btn btn-primary mb-3">修改活動方資訊</button>
                        <button id="o-manage" type="button" class="btn btn-primary">活動管理</button>
                    </div>
                </div>
            </div>
            <!-- col-8 end -->
        </section>
        <!--活動方主頁結束-->

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/OrganizerIndex.js"></script>
</body>

</html>