@model IEnumerable<Seatly1.Models.NotificationRecord>

@{
    ViewData["Title"] = "Search Activity";
}

<div id="app">
    <h2>Search Activity</h2>

    <template v-if="activities && activities.length > 0">
        <h3>Search Results</h3>
        <ul>
            <li v-for="activity in activities" :key="activity.ActivityId">
                <div>
                    <img :src="getBase64Image(activity.ActivityPhoto)" alt="Activity Photo" />
                    <p>活動名稱: {{ activity.ActivityName }}</p>
                    <p>開始時間: {{ activity.StartTime }}</p>
                    <p>結束時間: {{ activity.EndTime }}</p>
                    <p>活動內容: {{ activity.DescriptionN }}</p>
                    <form :action="getUserViewUrl(activity.ActivityId)" method="get">
                        <button type="submit">查看活動</button>
                    </form>
                </div>
            </li>
        </ul>
    </template>
    <template v-else>
        <p>查無此活動</p>
    </template>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            activities: @Html.Raw(Json.Serialize(Model)) // 将模型数据转换为 JavaScript 对象
            },
        methods: {
            // 获取活动图片的 Base64 编码
            getBase64Image(activityPhoto) {
                return `data:image;base64,${activityPhoto}`;
            },
            // 获取查看活动的 URL
            getUserViewUrl(activityId) {
                return `@Url.Action("UsersView", "NotificationRecord")?id=${activityId}`;
            }
        }
    });
</script>
